.footer {
  overflow-x: hidden;
  background-color: $dark;
  margin-top: 150px;
  padding: 40px;
  .flexx {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    text-align: center;
    .logo {
      flex: 1;
    }
    .social {
      flex: 1;
      display: flex;
      justify-content: end;
      align-items: center; 
      gap: 30px;
      i {
        color: $white !important;
        font-size: 30px !important;
        transition: .2s;
        &:hover {
          color: $purple !important;
          transform: rotate(360deg);
        }
      }
    }
    .copyright {
      flex: 1;
      color: $white;
      font-weight: bold;
    }
  }
}

// Phones
@media (min-width: 57px) and (max-width: 767px) {
  .footer {
    .flexx {
      flex-direction: column;
    }
  }
}