.nav {
  padding: 1px 10px;  
  .navbar-brand {
    margin: 0;
  }
  .navbar-toggler {
    background-color: $white;
    border: none !important;
    outline: none !important;
  }
  .links {
    justify-content: flex-end;
    a {
      color: $white !important;
      font-weight: bold;
      font-size: 17px;
    }
  }
  .moon {
    display: inline-block;
    font-size: 37px;
    cursor: pointer;
    color: $white;
    transition: .3s; 
    &:hover {
      color: $dark;
    }
  }
}
.pd {
  padding: 120px 0 !important;
}
.custom-shape-divider-top-1711922134 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
  svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 484px;
    .shape-fill {
      fill: #7C4AB6;
    }
  }
}