/* Main Setting  */
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden !important;
  background-color: #f2f2f2 !important;
  transition: background-color 0.6s cubic-bezier(0.7, 0, 0.7, 1);
  font-family: "Readex Pro", sans-serif !important;
  font-size: 1rem;
  line-height: 1.4;
}

ul {
  list-style: none;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

::selection {
  color: #fff;
  background-color: #7c4ab6;
}
.custom-shape-divider-top-1711922134 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1711922134 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 484px;
}

.custom-shape-divider-top-1711922134 .shape-fill {
  fill: #7c4ab6;
}
/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100%;
  background: #7c4ab6;
  z-index: 2000;
  transition: 0.3s ease;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 40px;
  gap: 100px;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}

#sidebar.hide .side-menu.top a {
  display: none;
}

#sidebar.hide .side-menu.top div i {
  display: block;
  font-size: 18px;
}

/* Sidebar when expanded */
#sidebar .side-menu.top a {
  display: block;
}

#sidebar .side-menu.top div i {
  display: inline;
}

#sidebar .side-menu.top div {
  transition: all 0.3s;
}
#sidebar .side-menu {
  margin-top: 78px;
}
#sidebar .side-menu div {
  margin-bottom: 25px;
  cursor: pointer;
}
#sidebar .side-menu div:hover i,
#sidebar .side-menu div:hover a {
  color: #e4e4e4;
}
#sidebar .side-menu div a,
#sidebar .side-menu div i {
  font-size: 17px;
  color: #fff;
}

/* SIDEBAR */

/* Home Section */
#content {
  position: relative;
  width: calc(100% - 280px);
  right: 280px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  right: 60px;
}
/* Navbar */
#content nav {
  height: 60px;
  background: #fff;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 24px;
  position: sticky;
  top: 10px;
  left: 0;
  z-index: 2;
  transition: backdrop-filter 0.3s, background 0.3s;
}
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.blur-background.active {
  opacity: 1;
}
#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -38px;
  right: -23px;
  border-radius: 50%;
  box-shadow: 16px -20px 0 #fff;
}
#content nav .fa-bars {
  cursor: pointer;
  color: #060714;
}

#content nav .breadcrumb-item {
  transition: 0.3s;
  font-weight: bold;
}
#content nav .breadcrumb-item a {
  color: #060714;
}
#content nav .breadcrumb-item:hover a {
  color: #0c0c1e;
}

#content nav .support a {
  color: #060714;
  transition: 0.3s;
  font-weight: bold;
}
#content nav .support a:hover {
  color: #0c0c1e;
}
#content nav .support a i {
  padding-left: 6px;
  color: #25d366;
  font-size: 19px;
}
.flex-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.dmode {
  flex: 1;
  color: #060714;
  transition: 0.2s;
}
.dmode:hover {
  color: #7c4ab6;
}

.dmode i {
  font-size: 35px;
  cursor: pointer;
}

.logout {
  flex: 1;
  text-align: center;
  padding: 0;
}

.logout img {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
}

.logout .btn {
  border: 0;
  outline: 0;
}

.logout .dropdown-menu {
  text-align: right;
  font-size: 15px;
}
.logout .dropdown-menu .dropdown-item {
  padding: 10px;
  transition: 0.3s;
}
.logout .dropdown-menu .dropdown-item:hover {
  border-radius: 6px;
}

nav .flex-btn .dropdown-toggle::after {
  display: none;
}

/* Navbar */

#content main {
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 60px);
  color: #fff;
}
#content main .welcome-box .box {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  border-radius: 8px;
  color: #060714;
}
#content main .welcome-box .box .box-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 10px;
}
#content main .welcome-box .box .box-content h3 i {
  color: #25d366;
  font-size: 17px;
}
#clockContainer {
  position: relative;
  height: 100px;
  width: 100px;
  background: url(../img/clock.png) no-repeat;
  background-size: 100%;
}
#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}

#content main .welcome-box .box .images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#content main .welcome-box .box .box-img {
  width: 99%;
  margin: 6px auto 0;
  border-radius: 8px;
  overflow: hidden;
}
#content main .welcome-box .box .box-img img {
  width: 100%;
}

#content main .box .profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 7px;
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#content main .box .profile img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

#content main .flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
#content main .welcome-box .box .information {
  width: 33%;
}
#content main .welcome-box .box .date-day {
  width: 33%;
}
#content main .flex .log-info {
  flex: 1;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  height: 400px;
  overflow-y: auto;
  padding: 40px;
}
#content main .flex .log-info-chart {
  flex: 1;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #060714;
}

/* Edit information Section */
.overlay {
  top: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

section.active .overlay {
  opacity: 1;
  pointer-events: auto;
  z-index: 3;
}

section.active .show-modal {
  display: none;
}

.modal-box {
  position: fixed;
  left: 44%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
  max-width: 1300px;
  width: 100%;
  padding: 40px 20px 18px;
  border-radius: 15px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
  height: auto !important;
}

.modal-box .flexxx {
  display: flex;
  justify-content: center;
}

.modal-box .flexxx .flexx {
  flex: 2;
}

.modal-box .flexxx .img {
  flex: 1;
}

.modal-box .flexxx .img img {
  width: 600px;
  transform: scaleX(-1);
}

.modal-box .flexx {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.modal-box h2 {
  font-size: 40px;
  color: #060714;
}

.modal-box form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section .modal-box form label {
  color: #060714 !important;
}

.section .modal-box .form-control {
  border: 2px solid #7c4ab6;
  color: #060714;

  &:focus {
    border-color: #7c4ab6 !important;
    box-shadow: 0 0 0 0.25rem #7c4ab6 !important;
  }
}

.modal-box .form-control::placeholder {
  color: #060714;
}

/* Edit information */

/* Toggle Theme  */

.theme {
  background-color: #060714 !important;
}
.theme .dropdown-menu {
  background-color: #060714 !important;
}
.theme .dropdown-item {
  background-color: #060714 !important;
  color: #fff !important;
  transition: 0.3s;
}
.theme .dropdown-item:hover {
  background-color: #0c0c1e !important;
}

.theme #content main .welcome-box .box {
  background-color: #0c0c1e;
  color: #fff;
}
.theme #content nav {
  background-color: #060714;
}
.theme #content nav::before {
  box-shadow: 16px -20px 0 #060714;
}
.theme #content nav .fa-bars {
  color: #fff;
}
.theme #content nav .breadcrumb-item a {
  color: #fff;
}
.theme #content nav .breadcrumb-item:hover a {
  color: #e4e4e4;
}

.theme #content nav .support a {
  color: #fff;
  transition: 0.3s;
  font-weight: bold;
}
.theme #content nav .support a:hover {
  color: #e4e4e4;
}
.theme .dmode {
  flex: 1;
  color: #fff;
  transition: 0.2s;
}
.theme .dmode:hover {
  color: #7c4ab6;
}
.theme #content main .flex .log-info {
  flex: 1;
  background-color: #0c0c1e;
  border-radius: 20px;
  overflow: hidden;
  height: 400px;
  overflow-y: auto;
  padding: 40px;
  color: #fff !important;
}

.theme #content main .flex .log-info .table-wrapper .table-dark {
  --bs-table-bg: #0c0c1e;
}
.theme #content main .flex .log-info-chart {
  flex: 1;
  background-color: #0c0c1e;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: #fff;
}
.theme .modal-box {
  position: fixed;
  left: 44%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
  max-width: 1300px;
  width: 100%;
  padding: 40px 20px 18px;
  border-radius: 15px;
  background-color: #060714;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
  height: auto !important;
}
.theme .modal-box h2 {
  color: #fff;
}
.theme .modal-box form label {
  color: #fff;
}
.theme .modal-box .form-control {
  background-color: #0c0c1e;
  color: #fff;
}
.theme .modal-box .form-control::placeholder {
  color: #fff;
}

/* Large Screen */
@media (min-width: 1400px) {
}

/* Laptops */
@media (min-width: 992px) and (max-width: 1399px) {
  #sidebar .side-menu {
    margin-top: 35px;
  }
  .modal-box {
    max-width: 900px;
    width: 100%;
    padding: 24px 0;
    border-radius: 15px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
    height: 485px !important;
    overflow-y: auto;
  }
  .modal-box .flexxx {
    display: flex;
    justify-content: center;
  }
  .modal-box .flexxx .img img {
    width: 440px;
    transform: scaleX(-1);
  }
  .modal-box h2 {
    font-size: 30px;
  }
  .modal-box .form-row {
    margin-top: 10px !important;
  }
  #content main .box .profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 7px;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #content main .box .profile img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
  }
}
