// Files
@import 'colors';
@import 'hero';
@import 'services';
@import 'about-us';
@import 'adv';
@import 'contact';
@import 'footer';
@import 'logingui';
@import 'signup';
@import 'servicespage';

// Main Setting 

html {
  scroll-behavior: smooth;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $light !important;
  transition: background-color .6s cubic-bezier(.7, 0, .7, 1);  
  font-family: "Readex Pro", sans-serif !important;
  font-size: 1rem;
  line-height: 1.4;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.pd {
  padding: 200px 0;
}

::selection {
  color: $white;
  background-color: $purple;
}

// SCroll To Top 

.scroll-to-top {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 55px;
  border-radius: 50%; 
  background-color: $purple;
  color: $white;
  transition: .3s;
  cursor: pointer;
  display: none;
  .arrow {
    font-size: 21px;
  }
  &:hover {
    background-color: #FFF;
    border: 1px solid $purple !important;
    color: $purple !important;
  } 
}
.scroll-to-top:hover .arrow {
  color: $purple;
}

.title {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 46%;
    width: 8%;
    height: 2px;
    background-color: $purple;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .6s ease;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}

// Toggle Themes

.theme {
  background-color: $dark !important;
  .moon {
    color: $white !important;
    transition: .3s; 
    &:hover {
      color: $dark !important;
    }
  }
  .hero {
    .hero-section {
      .text { 
        color: $white !important;
      }
    }
  }
  .title {
    color: $white !important;
  }
  .card {
    border: 0;
    border-top: 1px solid $white;
  }
  .toggleTheme {
    background-color: $lightDark !important;
    box-shadow: 0px 0 22px -4px rgb(124 74 182 / 61%) !important 
  }
  .card-body {
    color: $white !important;
    background-color: $lightDark !important;
    h5 {
      color: $white !important;
    }
  }
  .contact {
    .form {
      input, textarea {
        background-color: $dark !important;
        color: $white !important;
        ::placeholder {
          color: $white !important;
        }
      }
    }
  }
  .about-us {
    .text {
      color: $white !important;
    }
  }
  .card-text {
    .card {
      border: 0;
      color: $white !important;
      background-color: $dark !important;
    }
  }
  .footer {
    background-color: $lightDark;
  }
}

// Phones
@media (min-width: 57px) and (max-width: 767px) {
  .theme {
    .moon {
      color: $purple !important;
      transition: .1s; 
      &:hover {
        color: $purple !important;
      }
    }
  }
}